// Colors
$darkGrey: #323232;
$white: #ffeaa9;
$black: #2f2f2f;
$blue: #cdd6f4;

$backgroundDarker: #373e4f;
$backgroundDark: #545454;

//Fonts
$fontHeader: 'Hack', monospace;
$fontParagraph: 'Hack', sans-serif;
$fontCode: 'Hack', monospace;

// Content
$breakLarge: 992px;
$width: 860px;

